.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px 180px;
    list-style: none;
}
.main-title{
    font-size: 32px;
    font-weight: 700;
}
.btn-01{
    font-weight: 600px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
}

.all{
    margin: 0;
}

.main-banner{
    display: flex;
    border-radius: 10px;
   padding: 130px 150px;
    text-align: left;
    margin-top: 130px;
    background-color: rgb(198, 228, 214);
    background-position: 180px;
}

     

.banner-logo{
    
}   
.btn-font{
    color: rgb(255, 255, 255);
}

.font-clr{
    font-weight: 700;
    
}
.btn-primary{
    border: 1px solid rgba(14, 14, 14, 0.15);
    justify-content: center;
align-items: center;
    width: 270px;
height: 56px;
    border-radius: 8px;
background: rgb(0, 106, 80);
 
}
.banner-logo{
    justify-content: right;
}
.pillars{
    
    display: flex;
    gap: 24px;
}
.pillar{
    padding: 32px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
}

.main-pillar{
    margin: 180px;
}
.development-part{
    display: flex;
    gap: 24px;
}
.development{
    padding: 32px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
        
    }
    .bd-pm{

        background-color: #FFF8F3;
        background-image: url(./assets/quote-bg.png);
   
        margin:  32px ;
        
 
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.dev1{
    
    box-sizing: border-box;
border-radius: 16px;
background: rgba(84, 144, 245, 0.2);

}
.dev2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}
.dev3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207)
}
.btn-dev1{
    border: 1px solid rgba(14, 14, 14, 0.15);
    text-align: center;
    width: 122px;
height: 41px;
    box-sizing: border-box;
border-radius: 16px;
background: rgb(84, 144, 245)
}
.btn-dev2{
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 122px;
height: 41px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
}

.btn-dev3{
    border: 1px solid rgba(14, 14, 14, 0.15);
    width: 122px;
height: 41px;
    border-radius: 8px;
    background: rgb(255, 194, 57)
}



